body {
  width: 100vw;
	height: 100vh;
	margin: 0;
  padding: 0;
}
 

.flex-container1{
  width: 100%;
  height: calc(100%/3);
  background-color: yellow; 
  display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.flex-container2 {
  width: 100%;
  height: calc(100%/3);
  background-color: yellow; 
  display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.flex-container3 {
  width: 100%;
  height: calc(100%/3);
  background-color: yellow; 
  display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.album1 {
	width: 25%;
	height: 90%;
	background-color: red;
	background-image: url("https://user-images.githubusercontent.com/25018540/32809516-eb99b134-c94b-11e7-9578-fa0295331e40.jpg");
	background-size: 50% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.album2 {
	width: 25%;
	height: 90%;
	background-color: red;
	background-size: 50% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.album3 {
	width: 25%;
	height: 90%;
	background-color: teal;
	background-size: 50% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.biography {
  width: 100%;
  height: calc(100%/3);
  background-color: teal; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
