body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
 
 
.flex-container1{
  width: 100%;
  height: calc(100%/3);
  background-color: teal; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-container2 {
  width: 100%;
  height: calc(100%/3);
  background-color: yellow; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-container3 {
  width: 100%;
  height: calc(100%/3);
  background-color: yellow; 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.album1 {
	width: 25%;
	height: 90%;
	background-color: red;
	background-image: url("http://images.pigeonsandplanes.com/images/c_limit,f_auto,fl_lossy,q_auto,w_1030/bebllwzjpsujz9ffwp6s/tyler-the-creator-scum-fuck-flower-boy-cover");
	background-size: 50% 75%;
	background-position: center;
	background-repeat: no-repeat;
}


.album2 {
	width: 25%;
	height: 90%;
	background-color: red;
	background-image: url("http://images.pigeonsandplanes.com/images/c_limit,f_auto,fl_lossy,q_auto,w_1030/bebllwzjpsujz9ffwp6s/tyler-the-creator-scum-fuck-flower-boy-cover");
	background-size: 50% 75%;
	background-position: center;
	background-repeat: no-repeat;
}

.album3 {
	width: 25%;
	height: 90%;
	background-color: teal;
	background-image: url("https://upload.wikimedia.org/wikipedia/en/9/9a/BASTARDCOVER.png");
	background-size: 50% 75%;
	background-position: center;
	background-repeat: no-repeat;
}

.top-mid {
	height: 25%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.box1{
	height: 100%;
	width: calc(100%/6);
	background-color: teal;
	background-image:url("https://user-images.githubusercontent.com/25018540/33508033-e794df14-d6ac-11e7-9c4d-feacb9a3708c.png");
	background-size: 60% 90%;
	background-position: center;
	background-repeat: no-repeat;
	
}

.box2{
	height: 100%;
	width: calc(100%/6);
	background-color: red;
	background-image:url("https://user-images.githubusercontent.com/25018540/33507958-8e268194-d6ac-11e7-96d7-6d40aacebe0a.png");
	background-size: 50% 75%;
	background-position: center;
	background-repeat: no-repeat;
}


.album1 {
	width: 25%;
	height: 90%;
	background-color: red;
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/814jLm-6mkL._SX522_.jpg");
	background-size: 50% 75%;
	background-position: center;
	background-repeat: no-repeat;
}		

@media screen and (max-width: 850px){
	.album1 {
	width: 50%;
	background-size: 75% 75%;
	}
	
	.album2 {
	width: 50%;
	background-size: 75% 75%;
	}
	
	.album3 {
	width: 50%;
	background-size: 75% 75%;
	}
	
	.box1 {
	width: 100%;
	background-size: 75% 75%;
	}
	
	.box2 {
	width: 100%;
	background-size: 75% 75%;
	}
}
